In [5]:
# Task1
# my_points = 174  # use this input to make your submission
# write your if statement here
rewards = ["wooden trophy", "no reward", "water bottle", "penguin plush toy"]
output = ""

user_input = int(input("Enter the points you have scored: "))
if 1 <= user_input <= 200:
    if 1 <= user_input <= 50:
        output = "Congratulations! You have won a {}.".format(rewards[0])
    elif 51 <= user_input <= 150:
        output = "Oh dear! You didn't win anything this time. {}".format(rewards[1])
    elif 151 <= user_input <= 180:
        output = "Congratulations! You have won a {}.".format(rewards[2])
    elif 181 <= user_input <= 200:
        output = "Congratulations! You have won a {}.".format(rewards[3])

print(output)

Congratulations! You have won a wooden trophy.

In [6]:
# Task2
# secret_number = 7
# another_user_guess = int(input("Enter your guess number: "))
# By comparing another_user_guess to secret_number, inform the user if their guess is too high or too low.

target = 7
user_guess = int(input("Try to guess the hidden number: "))

if user_guess > target:
    message = "Oh no! Your guess was too high."
elif user_guess < target:
    message = "Oh no! Your guess was too low."
elif user_guess == target:
    message = "Congratulations! Your guess matched the hidden number!"
else:
    message = "Oops! Something went wrong."

print(message)

Oh no! Your guess was too low.

In [7]:
# Task3
# Tax Purchase - Depending on where an individual is from, we need to tax them appropriately.
# The states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9%, respectively.

tax_ratios = {
    "CA": 0.077,  # Modified tax ratio for California
    "MN": 0.092,  # Modified tax ratio for Minnesota
    "NY": 0.085   # Modified tax ratio for New York
    # Add more states and their respective tax ratios if needed
    # "TX": 0.082,
    # "FL": 0.06,
}

user_state = input("Enter your state: ")
purchase_amount = int(input("Enter the purchase amount: "))

if user_state in tax_ratios:
    tax = purchase_amount * tax_ratios[user_state]
    total_amount = purchase_amount + tax
    print("Total amount after tax: ${:.2f}".format(total_amount))
else:
    print("State not found in the tax ratio database.")

State not found in the tax ratio database.

In [8]:
# Task9
# Create a dictionary 'actors' that uses character names as keys and their heights as values.

actor_names = ["Barbara", "Rachel", "Tom", "Lisa", "Michael"]
actor_heights = [65, 62, 70, 61, 75]
actors = {name: height for name, height in zip(actor_names, actor_heights)}

# Printing key-value pairs using a loop
for character, height in actors.items():
    print("Character: {}, Height: {} inches".format(character, height))

print(actors)

Character: Barbara, Height: 65 inches
Character: Rachel, Height: 62 inches
Character: Tom, Height: 70 inches
Character: Lisa, Height: 61 inches
Character: Michael, Height: 75 inches
{'Barbara': 65, 'Rachel': 62, 'Tom': 70, 'Lisa': 61, 'Michael': 75}

In [9]:
# Task10
# Use enumerate to modify the character list so that each element contains the name followed by the character's corresponding height.

characters = ["Barbara Green", "Rachel Brown", "Tom White", "Lisa Black", "Michael Grey"]
character_heights = [65, 62, 70, 61, 75]

# Modify the character list using enumerate
for index, name in enumerate(characters):
    characters[index] = name + str(character_heights[index])

print(characters)

['Barbara Green65', 'Rachel Brown62', 'Tom White70', 'Lisa Black61', 'Michael Grey75']

In [10]:
# Task8
# Use a list comprehension to create a list of passed students that only includes those who scored at least 65.

student_scores = {
    "Alice Johnson": 70,
    "Bob Smith": 35,
    "Chris Brown": 82,
    "David Lee": 23,
    "Emma Davis": 98
}

# List comprehension to filter names with a score of at least 65
passed_students = [name for name, score in student_scores.items() if score >= 65]

# Printing the 'passed_students' list
print("Passed Students:", passed_students)

Passed Students: ['Alice Johnson', 'Chris Brown', 'Emma Davis']

In [11]:
# Task7
# Use a list comprehension to create a list 'multiples_of_3' containing the first 20 multiples of 3.

# Generating the first 20 multiples of 3
multiples_of_3 = [i * 3 for i in range(1, 21)]

# Printing the 'multiples_of_3' list
print("First 20 multiples of 3:", multiples_of_3)

First 20 multiples of 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [12]:
# Task5
# Printing every whole number that is a multiple of 5 and less than or equal to 35 using a for loop.

# Generate a list 'multiples_5_list' to store the multiples of 5
multiples_5_list = []

# Using a for loop to find multiples of 5 up to 35
for num in range(1, 36):
    if num % 5 == 0:
        multiples_5_list.append(num)

# Printing the 'multiples_5_list'
print("Multiples of 5:", multiples_5_list)

Multiples of 5: [5, 10, 15, 20, 25, 30, 35]

In [13]:
# Task4
# Use a for loop to take a list and print each element of the list on its own line.

# Creating a list 'word_list' to store words
word_list = ["apple", "banana", "orange", "grape", "kiwi"]

# Using a for loop to print each element of the list on a new line
for word in word_list:
    print(word)

apple
banana
orange
grape
kiwi

In [14]:
# Task6
# Extract First Names - Use a list comprehension to create a new list 'first_names' containing just the first names in 'names' in lowercase.

# Original list containing full names
full_names = ["John Doe", "Jane Smith", "Robert Johnson", "Emily Davis", "Michael Brown"]

# Extracting first names in lowercase using list comprehension
first_names = [name.split()[0].lower() for name in full_names]

# Printing the 'first_names' list
print("First names in lowercase:", first_names)

First names in lowercase: ['john', 'jane', 'robert', 'emily', 'michael']